.footer{
    padding: 4rem 6rem;
    background: #1b4539;
    color: #ffffff;
}
.api-h1{
    font-family: "Bebas Neue", sans-serif;
    margin-left: -40px;
}
.footer-h4{
    font-family: "Bebas Neue", sans-serif;
}
.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top i{
    color: #ffffff;
    font-size: 2rem;
    margin-left: 1rem;
}
.top i:hover{
    color: #d3cfa9;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}
.bottom a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}
.palestine{
    width:25px;
}
.eelam{
    width:25px;
}
.support-eelam{
    padding-left: 5px;
}
.ukraine{
    width:25px;
}
.support-ukraine{
    padding-left: 5px;
}
.down-bottom {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and(max-width: 850px){
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}